version: '3.1'
services:
  stats-server:
    build: ./stats/stats-server
    image: stats-server:0.0.1SNAPSHOT
    container_name: stats-server
    ports:
      - "8080:8080"
    depends_on:
      - stats-db
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://stats-db:5432/ewm-stats

  ewm-service:
    build: ./main-service
    image: main-service:0.0.1SNAPSHOT
    container_name: main-service
    ports:
      - "9090:9090"
    depends_on:
      - ewm-db
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://ewm-db:5432/ewm-main
      - STATS_SERVER_URL=http://stats-server:8080

  stats-db:
    image: postgres:15-alpine
    container_name: stats-db-postgres
    # volume и связанная с ним директория в контейнере
    volumes:
      - /var/lib/postgresql/data/
    ports:
      - "7654:5432"
    # переменные окружения
    environment:
      - POSTGRES_DB=ewm-stats
      - POSTGRES_USER=ewm-stats
      - POSTGRES_PASSWORD=ewm-stats

  ewm-db:
    image: postgres:15-alpine
    container_name: ewm-db-postgres
    # volume и связанная с ним директория в контейнере
    volumes:
      - /var/lib/postgresql/data/
    ports:
      - "6543:5432"
    # переменные окружения
    environment:
      - POSTGRES_DB=ewm-main
      - POSTGRES_USER=ewm-main
      - POSTGRES_PASSWORD=ewm-main